<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string></string>
	<key>RedirectUri</key>
	<string></string>
	<key>ResourceId</key>
	<string></string>
	<key>AuthorityUrl</key>
	<string>https://login.microsoftonline.com/common/</string>
	<key>GraphBaseUrl</key>
	<string>https://graph.microsoft.com/beta/myorganization/</string>
</dict>
</plist>
